body {
	background-color: cyan;
	text-align: center;
	
}
 h3 {
	font-family: fantasy;
	background-color: green;
	width: 100px;
	height: 100px;
}
you {
	background-image: "assets/You.png"
	width: 100px;
	height: 100px;
}